<div style="float: right; padding-left: 1em; padding-bottom: 1em;">
	<img src="http://i1.ytimg.com/vi/0tZsgPMhZSA/default.jpg" alt="thumbnail from video">
</div>
EDIT le titre<br>
<p>la description</p>
<form method="post" action="abc123">
title (en): <input type="text" name="titre_en" value="poh"><br>
description (en): <input type="text" name="description_en"><br>

<hr>
titre (fr): <input type="text" name="titre_fr" value="hop"><br>
description (fr): <input type="text" name="description_fr"><br>
<input type="submit">
</form>

