<div style="float: right; padding-left: 1em; padding-bottom: 1em;">
	<img src="<%- thumbnail.sqDefault %>" alt="thumbnail from video">
</div>
EDIT <%- title %><br>
<p><%- description %></p>
<form method="post" action="<%- _id %>">
<% if ('undefined' !== typeof lang) { %><input type='hidden' name='lang' value='<%- lang %>'><% } %>
title (en): <input size='50' type="text" name="title_en" value="<%- (('undefined' !== typeof l) && ('object' === typeof l.en) && l.en.title) ? l.en.title : title %>"><br>
description (en): <textarea cols='50' rows='6' name="description_en">
<%= (('object' === typeof l) && ('object' === typeof l.en) && l.en.description) ? l.en.description : description %>
</textarea><br>
<hr>

titre (fr): <input size='50' type="text" name="titre_fr" value="<%- (('undefined' !== typeof l) && ('object' === typeof l.fr) && l.fr.title) ? l.fr.title : title %>"><br>
description (fr): <textarea cols='50' rows='6' name="description_fr">
<%= (('object' === typeof l) && ('object' === typeof l.fr) && l.fr.description) ? l.fr.description : description %>
</textarea><br>

Publier? <select name='publish'>
<option <%= 'undefined' === typeof publish || 'not now' === publish ? 'selected ' : '' %>value='not now'>Pas maintenant</option>
<option <%= 'undefined' !== typeof publish && 'publish' === publish ? 'selected ' : '' %>value='publish'>Oui</option>
<option <%= 'undefined' !== typeof publish && 'never' === publish ? 'selected ' : '' %>value='never'>Jamais</option>
</select><br>

Type: <select name='type'>
<option <%= 'undefined' === typeof type || 'composition' === type ? 'selected ' : '' %>value='composition'>Composition</option>
<option <%= 'undefined' !== typeof type && 'interpretation' === type ? 'selected ' : '' %>value='interpretation'>Interprétation</option>
</select><br>

<input type="submit">
</form>
