<p>(see either <a href='../queue'>queue</a>, <a href='../../admin'>admin</a> or published <a href='../../fr/videos'>fr</a> or <a href='../../en/videos'>en</a>)</p>
<div style="float: right; padding-left: 1em; padding-bottom: 1em;">
	<img src="<%- thumbnail.sqDefault %>" alt="thumbnail from video">
</div>
Voir <%- title %><br>
<p><%- description %></p>

<pre>
<%- JSON.stringify(req, null, ' ') %>
</pre>
