<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href=".." class="navbar-brand">Martin Antaya <small><%- 'fr' === lang ? 'compositeur' : 'composer' %></small></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href=".."><%- 'fr' === lang ? 'Accueil' : 'Home' %></a></li>
        <li class="active"><a href="videos"><%- 'fr' === lang ? 'Vidéos' : 'Videos' %></a></li>
        <li><a href="bio">Bio</a></li>
        <li><a href="contact">Contact</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<h1><%- 'fr' === lang ? 'Les vidéos publiés' : 'Published videos' %></h1>
<div class="row">
	<div class="col-sm-8 col-md-9">
