


<div class="col-sm-6 col-md-6">
	<div class="thumbnail">
		<a href='videos/<%- id %>'>
		  <img src="<%- value.thumbnail %>" class="img-responsive" alt="image du vidéo">
		  <div class="caption">
			<h4><%- title %></h4>
		  </div>
		</a>
	</div>
</div>


